{% extends "design.html" %} {% block content %}
<h2>Predict Earnings by College Choices</h2>
In this model, several characteristics are used to predict median earnings two years after degree completion.

<ul style="line-height: 1.5">
    <li>Geographic location of college</li>
    <li>Type of college (public/private/for-profit, size)</li>
    <li>Major field of study (CIP code)</li>
    <li>Credential conferred (Bachelor, Master, etc)</li>
    <li>College's admission rate</li>
    <li>Average SAT score for admitted students</li>
</ul>

Using these features, a linear regression is able to very closely predict the median earnings two years post graduation. Try it and see!

<hr>
<h2> Enter your choices... </h2>

<form action="/result">
  <div class="panel">
    <ul>

    <li>Locale: 
      <select name='locale' method="GET" action="/">
        {% for loctype in locale_dict %}
        <option value= "{{loctype[1]}}" SELECTED>{{loctype[0]}}</option>"
        {% endfor %}
      </select>
    </li>

    <li>Region: 
      <select name='region' method="GET" action="/">
        {% for regtype in reg_dict %}
        <option value= "{{regtype[1]}}" SELECTED>{{regtype[0]}}</option>"
        {% endfor %}
      </select>
    </li>

    <li>Degree Field: 
      <select name='cip' method="GET" action="/">
        {% for ciptype in cip_list %}
        <option value= "{{ciptype}}" SELECTED>{{ciptype}}</option>"
        {% endfor %}
      </select>
    </li>

    <li>Credential: 
      <select name='cred' method="GET" action="/">
        {% for credtype in cred_list %}
        <option value= "{{credtype}}" SELECTED>{{credtype}}</option>"
        {% endfor %}
      </select>
    </li>

    <li>College Type: 
      <select name='coltype' method="GET" action="/">
        {% for coltype in col_list %}
        <option value= "{{coltype}}" SELECTED>{{coltype}}</option>"
        {% endfor %}
      </select>
    </li>

    <li>Average Admitted SAT Score: 
      <input type="range" name="sat" min="0" max="1600" value = "800" onchange="this.form.sat_number.value=this.value" />
      <input type="number" name="sat_number" min="0" max="1600" value="800" oninput="this.form.sat.value=this.value" />
    </li>

    <li>Average Tuition: 
      <input type="range" name="tuit" min='0' max='{{tuit_max}}' value = "10000" step = 1 onchange="this.form.tuit_number.value=this.value" />
      <input type="number" name="tuit_number" min='0' max='{{tuit_max}}' value="10000" step = 1 oninput="this.form.tuit.value=this.value" />
    </li>

    <li>Admission Rate (Percent): 
      <input type="range" name="adm" min='{{adm_min}}' max='{{adm_max}}' value = ".35" step = .01 onchange="this.form.adm_number.value=this.value" />
      <input type="number" name="adm_number" min='{{adm_min}}' max='{{adm_max}}' value=".35" step = .01 oninput="this.form.adm.value=this.value" />
    </li>
  </ul>

  </div>
  <div style="margin-bottom: 2rem;">
    <input type="submit" value="Submit" class="button"/>
    <input type="reset" value="Reset Values" class="button" />
  </div>
</form>

<hr>
<p><b>Model R^2</b>: {{ modscore }}</p>
{% endblock %}
